DB_HOST=postgres
DB_PORT=5432
DB_USER=safeclient
DB_PASSWORD=changeme_in_prod
DB_NAME=safeclient_db
NODE_ENV=development
PORT=3000
# Gere com: openssl rand -hex 32
CONTACT_HASH_SECRET=
# Gere com: openssl rand -hex 32  (mesmo valor deve estar no app mobile)
APP_SIGNING_SECRET=
